@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

$font: 'Orbitron', sans-serif; // fonte principal.
$white: #FFFF; // texto da navbar.
$orange: #F59E0B; // texto da navbar quando selecionado.
$dark-blue: #060D19; // fundo do card.
$light-blue: #96D4FE; // titulo do card.
$blue: #4C6888; // texto do card.
$yellow: #E4AF08; // navegação.
$gray: #7C7C7C; // titulo principal.
$black: #000; // fundo do site;
$light-gray: #9A999833; // botões de navegação.