.footer {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: $black;
    width: 100%;
    height: 10rem;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/footer/vader_2-86e8fdb4e26d.jpg);
    background-position: center top;
    background-repeat: no-repeat;

    h1 {
        color: $white;
        text-align: center;
    }

    a {
        position: relative;
        transition: all .3s linear;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $orange;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s;
        }
        
        &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
    
        &:hover {
            color: $orange;
        }
    }
}